
#container {
    height: 100px;
    background-color:#ff7f99;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
}
.wecan{
    color:yellow;
    padding: 10px;
    width: 15%;
    
}
span { 
    color: white;

}
.menu{
    width: 70%;
    display:flex;
    color:white;
    padding:30px;
    width: 70%;
    list-style: none;
    margin-left: 700px;
}

.aitems{
     padding: 10px;
    
}

.buttom{
    border: 1px solid #f09d8a;
    opacity: 75%;
    border-color:yellow;
    padding: 5px; 
    background-color: #f09d8a;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    border-radius: 40px; 
    margin-left: 80%;
    position:absolute;
    margin-top: 3%;
    width: 15%;
    
}
.box{
    background-color: #ff7f99;
    height: 400px;
    margin-top: 60%;
    display: flex;
    
    
}

.image{
    display:inline-block;
    padding:60px;
    text-align: center;
    


}

.N{
    color:#ffffff

}

.L{
    height: 20px;
    width: 20px;
    
}
